header{
    padding: 10px;
    background-color: #3E503C;
}
h1{
    color:#ff6f3D;
    text-transform:uppercase;
    font-weight:bold;
    font-size:20px;
    
    top:15%;
    left:25%;
   
}
nav li{
    display: inline;
    margin: 0 15px 0 15px;
   
}
nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-decoration:none;

}
nav a:hover {
    color: #ff6f3D;
}
.caixa{
 
    width: 940px;
    margin: 0 auto 0 auto;
}