@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

body, button, input, a {
    font-family: 'Poppins', sans-serif;
  }

 /*body {
    width: 100vw;
    height: 100vh;
}*/

.scroll {
    overflow: hidden;
  }

.fotologin {
    background-image: url("../imagens/mesa-de-trabalho2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.fotocadastro {
    background-image: url("../imagens/mercado2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

._containerLogin {
    width: 480px;
    height: 440px;
    margin: auto;
    margin-top: 50vh;
    top: 50%;     
    transform: translate(0, -43%);
    padding: 150px 30px;
    color: white;
    background-color: transparent;
    box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
    -moz-box-shadow: 0 0 1em black;
    backdrop-filter: saturate(70%) blur(3px);

    animation-name: fade;
    animation-duration: 1.5s;
}

._containerLogin .erro{
    padding-top: 35px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-align: center;
  
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

._containerCadastroProduto {
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 50vh;
    top: 50%;     
    transform: translate(0, -43%);
    padding: 125px 30px;
    color: white;
    background-color: transparent;
    box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
    -moz-box-shadow: 0 0 1em black;
    backdrop-filter: saturate(70%) blur(5px);
}

._containerCadastroProduto .erro{
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-align: center;
  
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  
    animation: fa-blink 0.8s 3;
  }
  
  ._containerCadastroProduto .sucesso{
    padding-top: 25px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: rgb(115, 255, 0);
    text-align: center;
  
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  
  }

  ._containerCadastroCategoria {
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 50vh;
    top: 50%;     
    transform: translate(0, -43%);
    padding: 145px 30px;
    color: white;
    background-color: transparent;
    box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
    -moz-box-shadow: 0 0 1em black;
    backdrop-filter: saturate(70%) blur(5px);
}

._containerCadastroCategoria .erro{
    padding-top: 35px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-align: center;
  
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  
    animation: fa-blink 0.8s 3;
  }
  
  ._containerCadastroCategoria .sucesso{
    padding-top: 35px;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: rgb(115, 255, 0);
    text-align: center;
  
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  
  }

.imglogin {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(-75px);
    left: calc(42% - 40px);
    filter: saturate(60%);
}

.imgcadastro {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(-75px);
    left: calc(45% - 40px);
    filter: saturate(210%);
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 8px 0 rgb(5, 5, 5);
}

.form-group input[type=text], .form-group input[type=password], input[type=number]{
    padding-left: 40px;
    color: black;
}

.padding-cadastro:last-child {
    padding-top: 20px;
}

.form-group {
    position: relative;
}

.form-group i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 3px 8px;
    color: rgb(0, 0, 0);
}

.form-control {
    border-radius: 0px;
    background-clip: border-box;
    color: black;
}

.login {
    margin-top: 10%;
    padding-top: 8px;
    background-color: #5397cd;
    border-color: #5397cd;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.login:focus{
    color: white;
    background-color: #5397cd;
    border-color: #5397cd;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;

}

.cadastro:first-child {
    margin-top: 25px;
    padding-top: 8px;
    border-width: 1px;
    background-color: #4877f4;
    border-color: #4877f4;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.cadastro:first-child:hover {
    background-color: #0e4bef;
    border-color: #0e4bef;
    transition: 0.5s;
}

.cadastro:last-child {
    margin-top: 25px;
    padding-top: 8px;
    background-color: #ff0000;
    border-color: #ff0000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.cadastro:last-child:hover {
    background-color: #cc0000;
    border-color: #cc0000;
    transition: 0.5s;
}





/* Tabela */

table {
    font-size: 20px;
    margin: auto;
    margin-top: 5px;
    width: 100%;
  } 
  .align-bt {
    display: flex;
    gap: 8px;
  }
  
  .btn {
    font-size: 17px;
  }
  
  .botao {
    margin-top: 10vw;
  }
  
  .botao button {
    width: 200px;
    font-size: 18px;
  }
  
  .botao button i {
    padding-right: 5px;
  }

/* Menu */

.menu {
    margin-top: -20px;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    font-weight: bold;
  }
  
  .menu ul {
    list-style: none;
    position: relative;
  }
  
  .menu ul li {
    width: 150px;
    float: left;
    cursor: pointer;
  }
  
  .menu a {
    padding: 13px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #000000;
    color: #757575;
  }
  
  .menu ul ul {
    position: absolute;
    visibility: hidden;
  }
  
  .menu ul li:hover ul {
    visibility: visible;
  }
  
  .menu a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
  }
  
  .menu ul ul li {
    float: none;
    border: solid 1px #000000;
  }
  
  .menu ul ul li a {
    background-color: #000000;
  }
  
  .menu ul ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  label[for="bt_menu"] {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 55px;
  }
  
  #bt_menu {
    display: none;
  }
  
  label[for="bt_menu"] {
    display: none;
  }
  
  .menu .log {
    width: 0px;
    background-color: #4877f4;
  }

.logo {
    width: 200px;
    height: 45px;
    float: right;
    margin: -8px 0;
    position: absolute;
    right: 10px;
}





















@media(max-width: 800px) {

    .logo {
      visibility: hidden;
    }
  
    label[for="bt_menu"] {
      display: block;
      width: 100%;
    }
  
    #bt_menu:checked ~ .menu {
      margin-left: 0;
    }
    
    .menu {
      margin-top: -10px;
      margin-left: -100%;
      transition: all .4s;
    }
  
    .menu ul li {
      width: 100%;
      float: none;
    }
  
    .menu ul ul{
      position: static;
      overflow: hidden;
      max-height: 0;
      transition: all .4s;
    }
  
    .menu ul li:hover ul {
      height: auto;
      max-height: 200px;
    }
  
    .a {
      visibility: hidden;
    }
  }
  
  
  
  












/* Aparecer o Form */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Erro de cadastro */
@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.70; }
    100% { opacity: 0; }
  }