@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 body {
    width: 100vw;
    height: 100vh;
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    background-image: radial-gradient(circle at 50% 120.71%, #aa30bd 0, #78229f 16.67%, #45117a 33.33%, #0b0051 50%, #00002b 66.67%, #000008 83.33%, #000000 100%);
}

._container {
    border-radius: 40px 0;
    margin: auto;
    margin-top: 10%;
    padding-top: 5vh;
    width: 30vw;
    height: 60vh;
    background-color: rgb(15, 4, 43);
}

.form-group {
    margin-bottom: 10px;
    padding: 0 10%;
}

.form-group:first-child {
    padding-top: 30px;
}

.form-group:last-child {
    padding-top: 20px;
}

input {
    text-transform: uppercase;
}

.icone {
    font-size: 100px;
    margin-left: 40%;
    color: white;
    padding: 0 0 50px 0;
}

.login {
    font-size: larger;
    cursor: pointer;
    background-image: linear-gradient(270deg, #ff4868 0, #ff3a74 8.33%, #ff2c7d 16.67%, #fd1f83 25%, #e41285 33.33%, #c70783 41.67%, #a6007c 50%, #850073 58.33%, #68026a 66.67%, #4e0662 75%, #35095c 83.33%, #1c0c56 91.67%, #000e52 100%);
    border-width: 0;
    border-color: black;
    color: white;
}

.form-control {
    border-radius: 50px;
}



